body.dark {
  background-color: rgb(10, 10, 10) !important;
  color: white;
  .react-tabs__tab-list {
    background-color: black;
  }
  .msg-details {
    position: absolute;
    margin: auto 10px;
  	color: white;
  	font-size: 10px;
  }
}
form {
  background-color: black;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: 0.5%;
  }
  button {
    width: 9%;
    background-color: rgb(130, 224, 255);
    border: none;
    padding: 10px;
  }
}
label {
  margin-right: 1rem;
}
#resetSettings {
  margin: 4px 0.5%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 99%;
}
.react-tabs__tab-list {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
}
.chat {
  padding-top: 45px;
  margin-bottom: 70px;
  color: rgb(33, 37, 41);
}
.msg-container {
	margin: auto 10px;
	border-radius: 25px;
	padding: 10px;
	position: relative;
  &.sent {
  	background-color: rgb(120, 224, 143);
  }
  &.received {
  	background-color: rgb(130, 204, 221);
  }
}
.msg-details {
  position: absolute;
  margin: auto 10px;
	color: rgb(100,100,100);
	font-size: 10px;
  &.sent {
  	right: 0;
  }
  &.received {
  	left: 0;
  }
}
.settings {
  padding-top: 35px;
  padding-left: 10px;
  div {
    margin-top: 10px;
  }
}
